<!-- original data -->

<div class='container'> 
    <div class='jumbotron'>
        <div class='col-lg-12 text-center'>
            <h1>Data</h1>
        </div>
    </div>

<hr />

    <div class='row'>
        <div class='col-lg-12 card bg-success'>
            <ul>
                <div class='card-header'>
                    {{#each JournalEntries}}
                </div>
                <div class='card-body'>
                        <li>
                            <p><strong>ID:</strong> {{this.dataValues.id}}</p>
                            <p><strong>Date:</strong> {{this.dataValues.date}}</p>
                            <p><strong>Title:</strong> {{this.dataValues.title}}</p>
                        </li>
                        <div class='card-body col-lg-4'>
                            {{#each this.ActivityEntries}} 
                                <li>
                                    <p><strong>Name:</strong> {{this.dataValues.name}}</p>
                                    <p><strong>Total Time:</strong> {{this.dataValues.totalTime}}</p>
                                    <p><strong>Activity Notes:</strong> {{this.dataValues.entryActivityText}}</p>
                                </li>
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
            </ul>
        </div>

        {{!-- <div class='col-lg-4 card bg-success'>
            <ul>
                <div class='card-header'>
                    {{#each ActivityEntries}}
                </div>
                <div class='card-body'>
                        <li>
                            <p><strong>Name:</strong> {{this.dataValues.name}}</p>
                            <p><strong>Total Time:</strong> {{this.dataValues.totalTime}}</p>
                            <p><strong>Activity Notes:</strong> {{this.dataValues.entryActivityText}}</p>
                        </li>
                    {{/each}}
                </div>
            </ul>
        </div>

        <div class='col-lg-4 card bg-success'>
            <ul>
                <div class='card-header'>
                    {{#each NutritionEntries}}
                </div>
                <div class='card-body'>
                        <li>
                        <p><strong>Time of Meal:</strong> {{this.typeOfMeal}}</p>
                        <p><strong>Ate:</strong> {{this.entryNutritionText}}</p>
                        </li>
                    {{/each}}
                </div>
            </ul>
        </div> --}}

    </div>
</div>
<!-- end of data -->