<!-- original data -->

<div class='container'> 
    <div class='row'>
        <div class='col-lg-12 text-center'>
            <h1>Data</h1>
        </div>
    </div>

    {{#each JournalEntries}}
        <div class='row card'>
            <div class='row'>
                <div class='col-md-4'>
                    <ul>
                        <li>
                        <p><strong>Entry Number:</strong> {{this.dataValues.id}} </p>
                        <p><strong>Date:</strong> {{this.dataValues.date}} </p>
                        <p><strong>Title:</strong> {{this.dataValues.title}} </p>
                        </li>
                    </ul>
                </div>
                <div class='col-md-4'>
                    {{#each this.ActivityEntries}} 
                        <ul>
                            <li>
                                <p><strong>Name:</strong> {{this.dataValues.name}}</p>
                                <p><strong>Total Time:</strong> {{this.dataValues.totalTime}}</p>
                                <p><strong>Activity Notes:</strong> {{this.dataValues.entryActivityText}}</p>
                            </li>
                        </ul>
                    {{/each}}
                </div>
                <div class='col-md-4'>
                    {{#each this.NutritionEntries}} 
                        <ul>
                            <li>
                                <p><strong>Time of Meal:</strong> {{this.dataValues.typeOfMeal}}</p>
                                <p><strong>Ate:</strong> {{this.dataValues.entryNutritionText}}</p>
                            </li>
                        </ul>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}

    <div class="row justify-content-center">
            <a href="/dashboard" class="btn btn-primary" style="background-color: #3f51b5;" id="backtodash">Back to Dashboard</a>
        </div>
</div>

<!-- end of data -->