<div class='container'> 
    <div class='jumbotron'>
        <div class='col-lg-12 text-center'>
            <h1>Profile</h1>
        </div>
    </div>

    <hr />

    {{#each Users}}
        <div class='row card'>
            <div class='row'>
                <div class='col-md-4'>
                    <ul>
                        <li>
                        <p><strong>First Name:</strong> {{dataValues.firstName}}</p>
                        <p><strong>Last Name:</strong> {{dataValues.lastName}}</p>
                        <p><strong>Age:</strong> {{dataValues.age}}</p>
                        <p><strong>Height:</strong> {{dataValues.height}}</p>
                        <p><strong>Weight:</strong> {{dataValues.weight}}</p>
                        <p><strong>Email:</strong> {{dataValues.email}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {{/each}}
</div>